<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>AnimeChicago CYOA</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jamie.css') }}">
   </head>
   <body>
      <tw-story></tw-story>
      <tw-storydata name="AnimeChicago CYOA" startnode="1" creator="Twine" creator-version="2.2.1" ifid="B43CFBD7-D074-41F9-8FB4-ABAF53957AD2" zoom="0.25" format="Harlowe" format-version="2.1.0" options="" hidden>
         <style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style>
         <script role="script" id="twine-user-script" type="text/twine-javascript"></script>
         <tw-passagedata pid="1" name="START" tags="" position="2976,98" size="100,100">What kind of series are you looking for?
            [[FUN&lt;-Something entertaining]]
            [[S=FMA&lt;-A good start]]
            [[S=BEBOP&lt;-A classic]]
            [[AMBI&lt;-Something ambitious]]
            [[S=KAIJI&lt;-The objectively very best anime ever made]]
         </tw-passagedata>
         <tw-passagedata pid="2" name="FUN" tags="" position="827,216" size="100,100">What kind of fun?
            [[FUN=COM&lt;-Comedy]]
            [[FUN=PURE&lt;-PURE FUN]]
            [[FUN=ACT&lt;-Action]]
         </tw-passagedata>
         <tw-passagedata pid="3" name="S=FMA" tags="" position="2617,240" size="100,100">Open #1</tw-passagedata>
         <tw-passagedata pid="4" name="S=BEBOP" tags="" position="3051,248" size="100,100">Open #2</tw-passagedata>
         <tw-passagedata pid="5" name="AMBI" tags="" position="4997,216" size="100,100">Intense or calm?
            [[AMBI=THRL&lt;-Intense]]
            [[AMBI=DRMA&lt;-Calm]]
         </tw-passagedata>
         <tw-passagedata pid="6" name="FUN=COM" tags="" position="537,470" size="100,100">What kind of comedy?
            [[FUN=COM=DALY&lt;-Daily life]]
            [[FUN=COM=PARO&lt;-Parody]]
            [[FUN=COM=ROM&lt;-Romance]]
         </tw-passagedata>
         <tw-passagedata pid="7" name="FUN=PURE" tags="" position="2187,2906" size="100,100">Are you ready to set critical thinking aside?
            [[S=FLCL&lt;-Not entirely]]
            [[S=KLK&lt;-HELL YEAH]]
            [[S=NGNL&lt;-Eyegasm]]
            [[S=SAMFLEM&lt;-Kick-Ass]]
            [[S=HIGHDEAD&lt;-Zombie Apocalypse]]
         </tw-passagedata>
         <tw-passagedata pid="8" name="FUN=ACT" tags="" position="2425,418" size="100,100">Does the series need to have an ending?
            [[FUN=ACT=END&lt;-Yes, I want a proper end]]
            [[FUN=ACT=NEND&lt;-No, it doesn&#39;t matter]]
         </tw-passagedata>
         <tw-passagedata pid="9" name="AMBI=THRL" tags="" position="4506,462" size="100,100">Something with mass appeal or something deep?
            [[AMBI=THRL=POP&lt;-Mass appeal]]
            [[AMBI=THRL=SYFY&lt;-Solid science fiction]]
            [[AMBI=THRL=DEEP&lt;-Substance]]
         </tw-passagedata>
         <tw-passagedata pid="10" name="AMBI=DRMA" tags="" position="5128,546" size="100,100">And by &quot;drama&quot; you mean...
            [[AMBI=DRMA=FEEL&lt;-FEELS]]
            [[AMBI=DRMA=SERS&lt;-A serious story]]
         </tw-passagedata>
         <tw-passagedata pid="11" name="FUN=COM=DALY" tags="" position="243,708" size="100,100">In which setting?
            [[FUN=COM=DALY=SCHL&lt;-School]]
            [[FUN=COM=DALY=WORK&lt;-Office]]
         </tw-passagedata>
         <tw-passagedata pid="12" name="FUN=COM=PARO" tags="" position="281,1760" size="100,100">A parody of...
            [[S=NOZAKI&lt;-Romances]]
            [[S=GINTAMA&lt;-Action series]]
            [[S=HARUHI&lt;-Anime cliches]]
         </tw-passagedata>
         <tw-passagedata pid="13" name="FUN=COM=ROM" tags="" position="1339,2200" size="100,100">What kind of romantic theme?
            [[S=CROSSGAME&lt;-Sports]]
            [[S=TORADORA&lt;-For starters]]
            [[S=NANA&lt;-Music]]
            [[S=NISEKOI&lt;-Sitcom]]
         </tw-passagedata>
         <tw-passagedata pid="14" name="S=FLCL" tags="" position="1889,3115.199951171875" size="100,100">Open #3</tw-passagedata>
         <tw-passagedata pid="15" name="S=KLK" tags="" position="1443,2936" size="100,100">Open #4</tw-passagedata>
         <tw-passagedata pid="16" name="S=NGNL" tags="" position="2037,3347.999954223633" size="100,100">Open #5</tw-passagedata>
         <tw-passagedata pid="19" name="S=SAMFLEM" tags="" position="1355,3552" size="100,100">Open #6</tw-passagedata>
         <tw-passagedata pid="20" name="S=HIGHDEAD" tags="" position="1401,3264" size="100,100">Open #7</tw-passagedata>
         <tw-passagedata pid="21" name="FUN=ACT=END" tags="" position="2802,3596.800048828125" size="100,100">Do you like giant robots?
            [[S=TTGL&lt;-HELL YEAH!]]
            [[FUN=ACT=END=AA&lt;-No.]]
            [[S=GEASS&lt;-Yes, but smart]]
            [[S=SIDONIA&lt;-Yes, but new]]
            [[S=EUREKA7&lt;-Let&#39;s try it]]
            [[S=GITS&lt;-How about cyborgs instead?]]
         </tw-passagedata>
         <tw-passagedata pid="22" name="FUN=ACT=NEND" tags="" position="3176,884" size="100,100">What if it&#39;s good, but will probably never get finished?
            [[FUN=ACT=NEND=PASS&lt;-I&#39;ll pass]]
            [[FUN=ACT=NEND=WEEP&lt;-I&#39;ll carry that weight]]
         </tw-passagedata>
         <tw-passagedata pid="23" name="AMBI=THRL=POP" tags="" position="4799,4688.0001220703125" size="100,100">Pick a main theme?
            [[S=DEATHNOTE&lt;-Crime drama mindgames with the Grim Reaper]]
            [[S=PARASYTE&lt;-Aliens]]
            [[S=ZANKYOU&lt;-Terrorism]]
            [[S=MIRAINIKKI&lt;-Hunger Games]]
         </tw-passagedata>
         <tw-passagedata pid="24" name="AMBI=THRL=DEEP" tags="" position="5013,1712" size="100,100">What kind of theme?
            [[AMBI=THRL=DEEP=GMBL&lt;-Gambling]]
            [[S=MONSTER&lt;-Crime drama]]
            [[AMBI=THRL=DEEP=DARK&lt;-My body is ready! Show me the deepest darkness.]]
         </tw-passagedata>
         <tw-passagedata pid="25" name="AMBI=DRMA=FEEL" tags="" position="5621,2408" size="100,100">What kind of feels?
            [[AMBI=DRMA=FEEL=HAPY&lt;-Happy, fluffy, and cute?]]
            [[S=HANASAKU&lt;-Warm and bittersweet]]
            [[AMBI=DRMA=FEEL=SAD&lt;-I&#39;ve got tissues.]]
         </tw-passagedata>
         <tw-passagedata pid="26" name="AMBI=DRMA=SERS" tags="" position="5187,5884" size="100,100">Genre?
            [[AMBI=DRMA=SERS=ROAD&lt;-Road trip]]
            [[S=SHINSEKAIYORI&lt;-Postapocalyptic rural utopia]]
            [[AMBI=DRMA=SERS=SYFY&lt;-Science fiction]]
         </tw-passagedata>
         <tw-passagedata pid="27" name="FUN=COM=DALY=SCHL" tags="" position="280,3610" size="100,100">Which one?
            [[S=NICHIJOU&lt;-&quot;Ordinary&quot; school life]]
            [[S=HIGHBOYS&lt;-Boys being boys]]
            [[S=GTO&lt;-From the teacher&#39;s perspective]]
         </tw-passagedata>
         <tw-passagedata pid="28" name="FUN=COM=DALY=WORK" tags="" position="430,4506" size="100,100">Working in...
            [[S=ARIA&lt;-Futuristic Venice]]
            [[S=SHIROBAKO&lt;-Animation studio]]
            [[S=DEVILPART&lt;-McDonald&#39;s]]
         </tw-passagedata>
         <tw-passagedata pid="29" name="S=NOZAKI" tags="" position="147,2066" size="100,100">You shouled watch &#39;&#39;Gekkan Shoujo Nozaki-kun&#39;&#39;.</tw-passagedata>
         <tw-passagedata pid="30" name="S=GINTAMA" tags="" position="329,2186" size="100,100">Open #8</tw-passagedata>
         <tw-passagedata pid="31" name="S=HARUHI" tags="" position="431,2022" size="100,100">Open #9</tw-passagedata>
         <tw-passagedata pid="32" name="S=CROSSGAME" tags="" position="855,2806" size="100,100">Open #10</tw-passagedata>
         <tw-passagedata pid="33" name="S=TORADORA" tags="" position="1137,2594" size="100,100">Open #11</tw-passagedata>
         <tw-passagedata pid="34" name="S=NANA" tags="" position="1455,2566" size="100,100">Open #12</tw-passagedata>
         <tw-passagedata pid="35" name="S=NISEKOI" tags="" position="1785,2518" size="100,100">Open #13</tw-passagedata>
         <tw-passagedata pid="37" name="S=TTGL" tags="" position="2855,5566.000061035156" size="100,100">Open #14</tw-passagedata>
         <tw-passagedata pid="38" name="FUN=ACT=END=AA" tags="" position="2513,3495.5999145507812" size="100,100">Action or adventure?
            [[FUN=ACT=END=AA=SUP&lt;-Supernatural battles]]
            [[S=FMA&lt;-Both!]]
            [[FUN=ACT=END=AA=ROAD&lt;-Road trip adventure]]
         </tw-passagedata>
         <tw-passagedata pid="39" name="S=GEASS" tags="" position="3659,4973.999908447266" size="100,100">Open #15</tw-passagedata>
         <tw-passagedata pid="40" name="S=SIDONIA" tags="" position="3445,3674" size="100,100">Open #16</tw-passagedata>
         <tw-passagedata pid="41" name="S=EUREKA7" tags="" position="3639,4122" size="100,100">Open #17</tw-passagedata>
         <tw-passagedata pid="42" name="S=GITS" tags="" position="3441,5078" size="100,100">Open #18</tw-passagedata>
         <tw-passagedata pid="43" name="FUN=ACT=NEND=PASS" tags="" position="3325,1738" size="100,100">How many episodes?
            [[FUN=ACT=NEND=PASS=FEW&lt;-A few]]
            [[S=LITTLEWITCH&lt;-...Two?]]
            [[FUN=ACT=NEND=PASS=MANY&lt;-Hundreds!]]
         </tw-passagedata>
         <tw-passagedata pid="44" name="FUN=ACT=NEND=WEEP" tags="" position="3947,1470" size="100,100">Which kind of a protagonist would you prefer?
            [[S=HUNTER&lt;-A bright-eyed young boy with a fishing rod]]
            [[S=BERSERK&lt;-A jaded gruff man with a giant sword]]
         </tw-passagedata>
         <tw-passagedata pid="45" name="S=DEATHNOTE" tags="" position="4650,5158.0001220703125" size="100,100">Open #19</tw-passagedata>
         <tw-passagedata pid="46" name="S=PARASYTE" tags="" position="4888,5242.0001220703125" size="100,100">Open #20</tw-passagedata>
         <tw-passagedata pid="47" name="S=ZANKYOU" tags="" position="5098,5330.0001220703125" size="100,100">Open #21</tw-passagedata>
         <tw-passagedata pid="48" name="S=MIRAINIKKI" tags="" position="5284,5062.0001220703125" size="100,100">Open #22</tw-passagedata>
         <tw-passagedata pid="49" name="AMBI=THRL=DEEP=GMBL" tags="" position="4743,2702" size="100,100">How do you want your //zawa//?
            [[S=KAIJI&lt;-Spicy, edge-of-your-seat //zawa//]]
            [[S=ONEOUTS&lt;-Baseball //zawa//]]
            [[WRONG&lt;-I don&#39;t like //zawa//]]
         </tw-passagedata>
         <tw-passagedata pid="50" name="S=MONSTER" tags="" position="4869,2246" size="100,100">Open #23</tw-passagedata>
         <tw-passagedata pid="51" name="AMBI=THRL=DEEP=DARK" tags="" position="5271,1978" size="100,100">How do you want to crush your own soul?
            [[S=MADOKA&lt;-With cute magical girls]]
            [[S=EVA&lt;-With giant robots]]
         </tw-passagedata>
         <tw-passagedata pid="52" name="AMBI=DRMA=FEEL=HAPY" tags="" position="5647,5506.0001220703125" size="100,100">Do you want your anime girls recovering from PTSD?
            [[S=KON&lt;-Jesus, no!]]
            [[S=YUUKIYUUNA&lt;-...Huh...]]
         </tw-passagedata>
         <tw-passagedata pid="53" name="S=HANASAKU" tags="" position="5353,3006" size="100,100">Open #24</tw-passagedata>
         <tw-passagedata pid="54" name="AMBI=DRMA=FEEL=SAD" tags="" position="5171,7644.4000244140625" size="100,100">Are you ready for a slow buildup?
            [[S=ANGELBEATS&lt;-Something shorter, please]]
            [[AMBI=DRMA=FEEL=SAD=GRF&lt;-A bit]]
            [[S=CLANNAD&lt;-Bring it]]
         </tw-passagedata>
         <tw-passagedata pid="55" name="AMBI=DRMA=SERS=ROAD" tags="" position="4769,6190" size="100,100">Setting?
            [[S=SPICEWOLF&lt;-Medieval Europe and its economy]]
            [[S=MUSHISHI&lt;-Rural Japan and spirit stuff]]
         </tw-passagedata>
         <tw-passagedata pid="56" name="S=SHINSEKAIYORI" tags="" position="4863,6762" size="100,100">Open #25</tw-passagedata>
         <tw-passagedata pid="57" name="AMBI=DRMA=SERS=SYFY" tags="" position="5365,6410" size="100,100">How deep do we go?
            [[S=EXISTSYFY&lt;-Hard existensial sci-fi]]
            [[S=LOGH&lt;-Old sci-fi space opera epic]]
            [[S=PLANETES&lt;-Life of space garbage collectors]]
         </tw-passagedata>
         <tw-passagedata pid="60" name="S=HIGHBOYS" tags="" position="709,3374" size="100,100">Open #26</tw-passagedata>
         <tw-passagedata pid="63" name="S=GTO" tags="" position="39,3756" size="100,100">Open #27</tw-passagedata>
         <tw-passagedata pid="64" name="S=ARIA" tags="" position="216,4732" size="100,100">Open #28</tw-passagedata>
         <tw-passagedata pid="67" name="S=SHIROBAKO" tags="" position="588,4964" size="100,100">Open #29</tw-passagedata>
         <tw-passagedata pid="68" name="S=DEVILPART" tags="" position="694,4740" size="100,100">Open #30</tw-passagedata>
         <tw-passagedata pid="69" name="FUN=ACT=END=AA=SUP" tags="" position="1458,4343.999908447266" size="100,100">With magic?
            [[S=SLAYERS&lt;-Classic fantasy]]
            [[S=ZETSUEN&lt;-Modern]]
            [[S=FATEZERO&lt;-Epic fights]]
            [[S=HELLSINGULTIMATE&lt;-Vampires]]
         </tw-passagedata>
         <tw-passagedata pid="70" name="FUN=ACT=END=AA=ROAD" tags="" position="2420,5435.9998779296875" size="100,100">Theme?
            [[S=BEBOP&lt;-Space opera jazz]]
            [[S=CHAMPLOO&lt;-Hip-hop samurai]]
            [[S=BACCANO&lt;-30&#39;s Chicago]]
            [[S=EUREKA7&lt;-Mechas]]
         </tw-passagedata>
         <tw-passagedata pid="71" name="S=SLAYERS" tags="" position="1059,4545.999908447266" size="100,100">Open #31</tw-passagedata>
         <tw-passagedata pid="72" name="S=ZETSUEN" tags="" position="1273,4657.999908447266" size="100,100">Open #32</tw-passagedata>
         <tw-passagedata pid="73" name="S=FATEZERO" tags="" position="1555,4737.999908447266" size="100,100">Open #33</tw-passagedata>
         <tw-passagedata pid="75" name="S=HELLSINGULTIMATE" tags="" position="1979,5041.999908447266" size="100,100">Open #34</tw-passagedata>
         <tw-passagedata pid="77" name="S=CHAMPLOO" tags="" position="1961,5741.9998779296875" size="100,100">Open #35</tw-passagedata>
         <tw-passagedata pid="78" name="S=BACCANO" tags="" position="2151,5857.9998779296875" size="100,100">Open #36</tw-passagedata>
         <tw-passagedata pid="79" name="FUN=ACT=NEND=PASS=FEW" tags="" position="3475,5948" size="100,100">Genre?
            [[FUN=ACT=NEND=PASS=FEW=GAME&lt;-Immersive video games]]
            [[FUN=ACT=NEND=PASS=FEW=CITY&lt;-Big city life]]
            [[FUN=ACT=NEND=PASS=FEW=SPRT&lt;-Sports!]]
            [[FUN=ACT=NEND=PASS=FEW=FANT&lt;-Fantasy action adventure]]
         </tw-passagedata>
         <tw-passagedata pid="80" name="S=LITTLEWITCH" tags="" position="3773,6822.400085449219" size="100,100">Open #37</tw-passagedata>
         <tw-passagedata pid="81" name="FUN=ACT=NEND=PASS=MANY" tags="" position="3995,7232.0001220703125" size="100,100">What do you want to watch?
            [[S=HUNTER&lt;-Unfinished greatness]]
            [[S=ONEPIECE&lt;-Pirates]]
            [[S=PRETTYCURE&lt;-Magical Girls]]
            [[S=GUNDAM&lt;-Mechas]]
         </tw-passagedata>
         <tw-passagedata pid="82" name="S=HUNTER" tags="" position="3804,1608" size="100,100">Open #38</tw-passagedata>
         <tw-passagedata pid="83" name="S=BERSERK" tags="" position="3958,1608" size="100,100">Open #39</tw-passagedata>
         <tw-passagedata pid="85" name="S=KAIJI" tags="" position="4966,3048" size="100,100">Open #40</tw-passagedata>
         <tw-passagedata pid="86" name="WRONG" tags="" position="4492,3036" size="100,100">You&#39;re objectively wrong.</tw-passagedata>
         <tw-passagedata pid="87" name="S=MADOKA" tags="" position="5196,2128" size="100,100">Open #41</tw-passagedata>
         <tw-passagedata pid="88" name="S=EVA" tags="" position="5346,2128" size="100,100">Open #42</tw-passagedata>
         <tw-passagedata pid="89" name="S=KON" tags="" position="5528,5796" size="100,100">Open #43</tw-passagedata>
         <tw-passagedata pid="90" name="S=YUUKIYUUNA" tags="" position="5842,5900" size="100,100">Open #44</tw-passagedata>
         <tw-passagedata pid="91" name="S=ANGELBEATS" tags="" position="4925,7944" size="100,100">You shouled watch &#39;&#39;Angel Beats&#39;&#39;.</tw-passagedata>
         <tw-passagedata pid="92" name="AMBI=DRMA=FEEL=SAD=GRF" tags="" position="5131,7908" size="100,100">What kind of grief do you want the characters to overcome?
            [[S=ANOHANA&lt;-Kids reuniting years after death of a childhood friend]]
            [[S=APRIL&lt;-Young pianist struggling after losing his mother]]
         </tw-passagedata>
         <tw-passagedata pid="93" name="S=CLANNAD" tags="" position="5429,7876" size="100,100">Open #45</tw-passagedata>
         <tw-passagedata pid="94" name="FUN=ACT=NEND=PASS=FEW=GAME" tags="" position="365,6674" size="100,100">What kind of MMO would you play?
            [[S=SAO&lt;-The popular one with lots of servers]]
            [[S=LOG&lt;-The quiet one with deep systems]]
         </tw-passagedata>
         <tw-passagedata pid="95" name="FUN=ACT=NEND=PASS=FEW=SPRT" tags="" position="2203,8106.000244140625" size="100,100">How old school do you want it?
            [[SPRTS=NEW&lt;-Recent]]
            [[SPRTS=OLD&lt;-Old School]]
         </tw-passagedata>
         <tw-passagedata pid="96" name="FUN=ACT=NEND=PASS=FEW=FANT" tags="" position="665,7590.000244140625" size="100,100">Theme?
            [[S=BAHAMUT&lt;-Bounty hunters, angels, and demons]]
            [[S=MAGI&lt;-Djinns and mages]]
            [[S=YONA&lt;-Dragons, adventure, and romance]]
            [[S=TITAN&lt;-Despair and carnivorous giants]]
         </tw-passagedata>
         <tw-passagedata pid="97" name="S=ONEPIECE" tags="" position="3695,7382.0001220703125" size="100,100">Open #46</tw-passagedata>
         <tw-passagedata pid="100" name="S=PRETTYCURE" tags="" position="4141,7382.0001220703125" size="100,100">Open #47</tw-passagedata>
         <tw-passagedata pid="101" name="S=GUNDAM" tags="" position="4295,7382.0001220703125" size="100,100">Open #48</tw-passagedata>
         <tw-passagedata pid="102" name="S=SPICEWOLF" tags="" position="4562,6368" size="100,100">Open #49</tw-passagedata>
         <tw-passagedata pid="103" name="S=MUSHISHI" tags="" position="4696,6460" size="100,100">Open #50</tw-passagedata>
         <tw-passagedata pid="104" name="S=EXISTSYFY" tags="" position="5087,6924" size="100,100">Open #51</tw-passagedata>
         <tw-passagedata pid="105" name="S=LOGH" tags="" position="5245,7096" size="100,100">Open #52</tw-passagedata>
         <tw-passagedata pid="106" name="S=PLANETES" tags="" position="5467,6900" size="100,100">Open #53</tw-passagedata>
         <tw-passagedata pid="107" name="S=ANOHANA" tags="" position="4920,8350" size="100,100">Open #54</tw-passagedata>
         <tw-passagedata pid="108" name="S=APRIL" tags="" position="5158,8282" size="100,100">Open #55</tw-passagedata>
         <tw-passagedata pid="109" name="S=NICHIJOU" tags="" position="800,3828" size="100,100">Open #56</tw-passagedata>
         <tw-passagedata pid="110" name="AMBI=THRL=SYFY" tags="" position="4182,380" size="100,100">Genre?
            [[S=STEINSGATE&lt;-Time travel experiment]]
            [[S=PSYCHOPASS&lt;-Psychological police dystopia]]
         </tw-passagedata>
         <tw-passagedata pid="111" name="S=STEINSGATE" tags="" position="4027,626" size="100,100">Open #57</tw-passagedata>
         <tw-passagedata pid="112" name="S=PSYCHOPASS" tags="" position="4209,714" size="100,100">Open #58</tw-passagedata>
         <tw-passagedata pid="113" name="S=ONEOUTS" tags="" position="4439,2548" size="100,100">Open #59</tw-passagedata>
         <tw-passagedata pid="114" name="S=SAO" tags="" position="290,6824" size="100,100">Open #60</tw-passagedata>
         <tw-passagedata pid="115" name="S=LOG" tags="" position="440,6824" size="100,100">Open #61</tw-passagedata>
         <tw-passagedata pid="116" name="FUN=ACT=NEND=PASS=FEW=CITY" tags="" position="995,6762" size="100,100">What drives your plot?
            [[S=BAKEMONO&lt;-Mystery, curses, and romance]]
            [[S=DURA&lt;-Gang wars]]
         </tw-passagedata>
         <tw-passagedata pid="117" name="S=BAKEMONO" tags="" position="845,6912" size="100,100">Open #62</tw-passagedata>
         <tw-passagedata pid="119" name="S=DURA" tags="" position="1145,6912" size="100,100">Open #63</tw-passagedata>
         <tw-passagedata pid="120" name="S=BAHAMUT" tags="" position="440,7740.000244140625" size="100,100">Open #64</tw-passagedata>
         <tw-passagedata pid="121" name="S=MAGI" tags="" position="590,7740.000244140625" size="100,100">Open #65</tw-passagedata>
         <tw-passagedata pid="122" name="S=YONA" tags="" position="740,7740.000244140625" size="100,100">Open #66</tw-passagedata>
         <tw-passagedata pid="123" name="S=TITAN" tags="" position="890,7740.000244140625" size="100,100">Open #67</tw-passagedata>
         <tw-passagedata pid="124" name="SPRTS=NEW" tags="" position="1136,8360.000244140625" size="100,100">What&#39;s your favorite sport?
            [[S=PINGPONG&lt;-Ping Pong]]
            [[S=ACEDIAMOND&lt;-Baseball]]
            [[S=HAIKYUU&lt;-Volleyball]]
            [[S=FREE&lt;-Swimming]]
         </tw-passagedata>
         <tw-passagedata pid="125" name="SPRTS=OLD" tags="" position="2706,8663.199951171875" size="100,100">What&#39;s your favorite sport?
            [[SPRTS=BOX&lt;-Boxing]]
            [[S=SLAM&lt;-Basketball]]
         </tw-passagedata>
         <tw-passagedata pid="127" name="S=PINGPONG" tags="" position="911,8510.000244140625" size="100,100">Open #68</tw-passagedata>
         <tw-passagedata pid="128" name="S=ACEDIAMOND" tags="" position="1061,8510.000244140625" size="100,100">Open #69</tw-passagedata>
         <tw-passagedata pid="130" name="S=HAIKYUU" tags="" position="1361,8510.000244140625" size="100,100">Open #70</tw-passagedata>
         <tw-passagedata pid="131" name="S=FREE" tags="" position="1511,8510.000244140625" size="100,100">Open #71</tw-passagedata>
         <tw-passagedata pid="132" name="SPRTS=BOX" tags="" position="2556,8813.199951171875" size="100,100">Open #72</tw-passagedata>
         <tw-passagedata pid="133" name="S=SLAM" tags="" position="2706,8813.199951171875" size="100,100">Open #73</tw-passagedata>
      </tw-storydata>
      <script title="Twine engine code" data-main="harlowe" src="{{ url_for('static', filename='js/engine.js') }}"></script>
   </body>
</html>